 @import "tailwindcss";

:root {

  --primary: #0f172a;
  --secondary: #f97316;
  --accent: #2563eb;

  --background: #ffffff;
  --foreground: #0f172a;

  --border: #e5e7eb;

}

@theme inline {

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-border: var(--border);

  --font-sans: var(--font-inter);
  --font-heading: var(--font-poppins);

}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{

  background:white;

  color:#0f172a;

  font-family:var(--font-inter);

}

h1,h2,h3,h4,h5,h6{

  font-family:var(--font-poppins);

}

a{

  text-decoration:none;

  color:inherit;

}

img{

  display:block;

  max-width:100%;

}

button{

  cursor:pointer;

}